<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <input [(ngModel)]="itemQuery" type="text" class="form-control input-dark" placeholder="Search for an Item" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="row top-spacing" align="center">
    <!-- TODO: look into using bs4 cards instead -->
    <div *ngFor="let item of items | filter:'name':itemQuery" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="item-box">
        <a [routerLink]="makeInfoURL(item.id)">
          <img [src]="common.makeItemIconURL(item.id)" class="item-icon img-fluid no-delay" alt="">
        </a>
        <button (click)="this.sim.itemSet.addItem(item)" class="btn btn-success item-btn">+</button>
        <a [routerLink]="makeInfoURL(item.id)">
          <h3 class="item-name">{{item.name}}</h3>
        </a>
        <div class="coin gold">
          <p>L</p>
        </div>
        <h5 class="item-cost">{{item.gold.total}}</h5>

      </div>
      <!-- <div>

      <a [attr.href]="makeInfoURL(item.id)"><img [src]="makeIconImageURL(item.id)" class="img-fluid" alt=""></a>
    </div>
    <div>

    </div>
  </div> -->
    </div>
  </div>
</div>
