<!--<nav class="navbar fixed-top nav-line-code">
  <div class="tint">
    <a class="navbar-brand" href="#/">LoL Sim</a>
  </div>
  <div class="line-code-top" appMatrixBar></div>
</nav>-->

<nav class="navbar navbar-toggleable-md navbar-inverse navbar-line-code">
  <div class="line-code-top"></div>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">LoL Sim</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
        <a class="nav-link" href="#/champions">Champions <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/items">Items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/masteries">Masteries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/runes">Runes</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" class="form-control mr-sm-2" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
