@import
  '~bootstrap/scss/functions',
  '~bootstrap/scss/mixins',
  '~bootstrap/scss/variables';

.fixed-size{
  width: 60px;
  height: 60px;
}

.no-delay{
  touch-action: manipulation;
}

.default-size{
  width: 120px;
  max-height: 120px;
  background-color: grey;
}

// shrink col padding on mobile devices
@include media-breakpoint-down(xs) {
  .minimum-spacing .col-3{
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
  // .minimum-spacing :nth-child(4n + 4){
  //   padding-left: 15px;
  //   padding-right: 15px;
  // }
}
