<div class="row">
  <div class="col-sm-12 col-md-6">
    <input [(ngModel)]="champQuery" type="text"
    class="form-control input-dark" placeholder="Search for a Champion"
    [ngModelOptions]="{standalone: true}">
  </div>
</div>
<div class="row minimum-spacing" align="center">
  <div *ngFor="let champ of champions | filter:'key,name':champQuery" class="col-lg-2 col-md-2 col-sm-3 col-3">
    <a [routerLink]="makeInfoURL(champ.key)"><img class="img-fluid no-delay default-size" [src]="common.makeChampIconURL(champ.key)" alt=""></a>
    <a [routerLink]="makeInfoURL(champ.key)"><p>{{champ.name}}</p></a>
  </div>
</div>
