<app-header></app-header>

<div class="fixed-offset"></div>
<div class="mobile-fixed-offset d-sm-none"></div>
<div *ngIf="loading" class="vertical-offset">
  <div class="spinner-container">
    <div class='cssload-inner cssload-one'></div>
    <div class='cssload-inner cssload-two'></div>
    <div class='cssload-inner cssload-three'></div>
    <div class="cssload-inner cssload-four"></div>
    <div class='cssload-inner cssload-green'></div>
    <div class='cssload-inner cssload-white'></div>
    <div class='cssload-inner cssload-orange'></div>
  </div>
  <div class="spinner-title-container">
    <h2 class="spinner-title">Loading...</h2>
  </div>
</div>
<div *ngIf="!loading">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
