<app-header></app-header>
<div class="fixed-navbar-offset"></div>
<div *ngIf="loading" class="vertical-offset">
  <div class="spinner-container">
    <div class='cssload-inner cssload-one'></div>
    <div class='cssload-inner cssload-two'></div>
    <div class='cssload-inner cssload-three'></div>
    <div class="cssload-inner cssload-four"></div>
    <div class='cssload-inner cssload-green'></div>
    <div class='cssload-inner cssload-white'></div>
    <div class='cssload-inner cssload-orange'></div>
  </div>
  <div class="spinner-title-container">
    <h2 class="spinner-title">Loading...</h2>
  </div>
</div>
<div class="container-fluid" *ngIf="!loading">
  <div class="row">
    <div class="col-3 d-none d-md-block">
      <!--TODO: simulation goes here-->
      <div class="card sim sim-overview">
        <!-- Card Header -->
        <div class="card-header">
          Simulation Overview
        </div>

        <!-- List Group -->
        <div class="card-block sim-champ-block">
          <h5 class="card-title">Champion</h5>
          <div class="row sim-row">
            <div class="col-4 sim-col">
              <!-- TODO: fix error by creating separate sim component -->
              <div *ngIf="this.sim.getChampion();else placeholder"><img class="img-fluid sim-icon" [src]="common.makeChampIconURL(this.sim.getChampion()?.key)" alt=""></div>
              <ng-template #placeholder><img class="img-fluid sim-icon" [src]="" alt=""></ng-template>
            </div>
            <!-- <div class="col-4 sim-col">
              <h1 class="sim-vs">V.S</h1>
            </div>
            <div class="col-4 sim-col">
              <img class="img-fluid sim-icon" [src]="" alt="">
            </div> -->
          </div>
        </div>
        <div class="card-block">
          <h5 class="card-title">Items</h5>
          <div class="row sim-row">
            <div class="col-4 sim-col" *ngFor="let item of this.sim.itemSet.getItems()">
              <img class="img-fluid sim-icon" [src]="common.makeItemIconURL(item.id)" alt="">
            </div>
            <!-- Shoutout to https://stackoverflow.com/questions/36535629/repeat-html-element-multiple-times-using-ngfor-based-on-a-number -->
            <div class="col-4 sim-col" *ngFor="let x of Arr(needPlaceHolderItems()).fill(0)">
              <a href="#/items">
                <img class="img-fluid sim-icon" [src]="" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
      <div class="hidden-lg-up">
        <div class="sim sim-bar">
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
