<div class="fixed-top">
  <!-- normal navbar -->
  <nav class="navbar navbar-expand navbar-dark bg-very-dark">
    <a class="navbar-brand" href="#">LOLSIM</a>
    <ul class="navbar-nav d-none d-sm-block text-right w-100">
      <li class="nav-item inline-block">
        <a class="nav-link" [ngClass]="{'active': searchCategory==='champions'}" routerLink="/champions">CHAMPIONS</a>
      </li>
      <li class="nav-item inline-block">
        <a class="nav-link" [ngClass]="{'active': searchCategory==='items'}" routerLink="/items">ITEMS</a>
      </li>
      <li class="nav-item inline-block">
        <a class="nav-link" [ngClass]="{'active': searchCategory==='runes'}" routerLink="/runes">RUNES</a>
      </li>
      <li class="nav-item inline-block">
          <a class="nav-link" [ngClass]="{'active': searchCategory==='runes'}" routerLink="/runes">ABOUT</a>
        </li>
    </ul>
  </nav>

  <!-- mobile navbar -->
  <nav class="navbar navbar-expand navbar-dark bg-dark navbar-short d-sm-none">
    <ul class="navbar-nav centered-nav mx-auto">
      <li class="nav-item inline-block">
        <a class="nav-link" [ngClass]="{'active': searchCategory==='champions'}" routerLink="/champions">CHAMPIONS</a>
      </li>
      <li class="nav-item inline-block">
        <a class="nav-link" [ngClass]="{'active': searchCategory==='items'}" routerLink="/items">ITEMS</a>
      </li>
      <li class="nav-item inline-block">
        <a class="nav-link" [ngClass]="{'active': searchCategory==='runes'}" routerLink="/runes">RUNES</a>
      </li>
      <li class="nav-item inline-block">
          <a class="nav-link" [ngClass]="{'active': searchCategory==='runes'}" routerLink="/runes">ABOUT</a>
        </li>
    </ul>
  </nav>
</div>
