<div class="fixed-top">
  <nav class="navbar navbar-expand navbar-dark bg-very-dark">

    <!-- normal navbrand -->
    <a class="navbar-brand d-none d-sm-block" href="#">LOLSIM</a>

    <!-- mobile navbrand -->
    <a class="navbar-brand d-sm-none mx-auto" href="#">LOLSIM</a>

    <!-- normal nav ul -->
    <ul class="navbar-nav d-none d-sm-block text-right w-100">
      <li class="nav-item inline-block">
        <a class="nav-link" [ngClass]="{'active': searchCategory==='all'}" routerLink="/build">BUILD</a>
      </li>
      <li class="nav-item inline-block">
        <a class="nav-link" [ngClass]="{'active': searchCategory==='champions'}" routerLink="/champions">CHAMPIONS</a>
      </li>
      <li class="nav-item inline-block">
        <a class="nav-link" [ngClass]="{'active': searchCategory==='items'}" routerLink="/items">ITEMS</a>
      </li>
      <li class="nav-item inline-block">
        <a class="nav-link" [ngClass]="{'active': searchCategory==='runes'}" routerLink="/runes">RUNES</a>
      </li>

    </ul>
  </nav>

  <!-- mobile navbar -->
  <nav class="navbar navbar-expand navbar-dark bg-dark navbar-short d-sm-none">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item inline-block">
        <a class="nav-link" [ngClass]="{'active': searchCategory==='all'}" routerLink="/build">BUILD</a>
      </li>
      <li class="nav-item inline-block">
        <a class="nav-link" [ngClass]="{'active': searchCategory==='champions'}" routerLink="/champions">CHAMPIONS</a>
      </li>
      <li class="nav-item inline-block">
        <a class="nav-link" [ngClass]="{'active': searchCategory==='items'}" routerLink="/items">ITEMS</a>
      </li>
      <li class="nav-item inline-block">
        <a class="nav-link" [ngClass]="{'active': searchCategory==='runes'}" routerLink="/runes">RUNES</a>
      </li>
    </ul>
  </nav>
</div>
