<div class="row">
  <div class="col-md-12">
    <div class="card">
      <!-- HEADER -->
      <div class="card-header">
        <img src="{{champIconPromise | async}}" class="icon-float-left img-thumbnail" alt="">
        <h1 class="card-title">{{champion?.name}}</h1>
        <h2 class="card-subtitle text-muted">{{champion?.title}}</h2>
        <ul class="nav nav-tabs card-header-tabs clear">
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': displayBlock=='abilities'}" (click)="displayBlock='abilities'">Abilities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': displayBlock=='rawStats'}" (click)="displayBlock='rawStats'">Raw Stats*</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="">Disabled</a>
          </li>
        </ul>
      </div>

      <!-- STATS -->
      <div class="card-block raw-stat-block" *ngIf="champion && displayBlock == 'rawStats'">
        <div class="row">
          <p class="col-6"><img src="assets/stats/hp.png" alt="" class="stat-icon">HP : {{champion?.stats["base_hp"]}} (+{{champion?.stats["hpperlevel"]}}
            per level)</p>
          <p class="col-6"><img src="assets/stats/hp-reg.png" alt="" class="stat-icon">HP Regen : {{champion?.stats["hpregen"]}} (+{{champion?.stats["hpregenperlevel"]}}
            per level)</p>

          <p class="col-6"><img src="assets/stats/mp.png" alt="" class="stat-icon">MP : {{champion?.stats["base_mp"]}} (+{{champion?.stats["mpperlevel"]}}
            per level)</p>
          <p class="col-6"><img src="assets/stats/res-regen.png" alt="" class="stat-icon">MP Regen : {{champion?.stats["mpregen"]}} (+{{champion?.stats["mpregenperlevel"]}}
            per level)</p>

          <p class="col-6"><img src="assets/stats/ad.png" alt="" class="stat-icon">AD : {{champion?.stats["base_ad"]}} (+{{champion?.stats["adperlevel"]}}
            per level)</p>
          <p class="col-6"><img src="assets/stats/armor.png" alt="" class="stat-icon">Armor : {{champion?.stats["base_armor"]}} (+{{champion?.stats["armorperlevel"]}}
            per level)</p>

          <p class="col-6"><img src="assets/stats/as.png" alt="" class="stat-icon">AS : {{champion?.stats["base_as"]}} (+{{champion?.stats["asperlevel"]}}&#37;
            per level)</p>
          <p class="col-6"><img src="assets/stats/mr.png" alt="" class="stat-icon">MR : {{champion?.stats["base_mr"]}} (+{{champion?.stats["mrperlevel"]}}
            per level)</p>

          <p class="col-6"><img src="assets/stats/range.png" alt="" class="stat-icon">Range : {{champion?.stats["aarange"]}}</p>
          <p class="col-6"><img src="assets/stats/movespeed.png" alt="" class="stat-icon">Move Speed : {{champion?.stats["movespeed"]}}</p>

        </div>
      </div>

      <!-- SPELLS -->
      <div *ngIf="champion && displayBlock =='abilities' ">
        <div class="card-block passive-block">
          <div class="clearfix">
              <img class="ability-icon" src="{{makePassiveImageUrl(champion.passive.image.full)}}" alt="">
              <h1 class="ability-header">{{champion.passive.name}}</h1>
              <p>{{champion.passive.sanitizedDescription}}</p>
          </div>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item override-display" *ngFor="let spell of champion.spells; let i = index">
            <img class="ability-icon" src="{{makeSpellImagePromise(spell.key)}}" alt="">
            <h1 class="ability-header">{{makeHotkey(i)}} - {{spell.name}}</h1>
            <p [innerHTML]="spell.displayTooltip"></p>

            <p>Cost: {{spell.displayCost}} {{spell.costType}}</p>
            <p class="cooldown">Cooldown: {{spell.displayCooldown}} seconds</p>

          </li>
        </ul>
      </div>

      <div class="card-footer">
        <button (click)="setChampion(this.champion)">Select Champion for Build</button>  | Select Champion for Target
      </div>
    </div>
  </div>
</div>
