p {
  color: #333;
}

.icon-float-left{
  float: left;
  height: 120px;
  width: 120px;
  margin: 0px 10px 10px 0px;
  margin-left: -10px;
}

.clear{
  clear: left;
}
.centered{
  margin: auto;
  width: 50%;
}
.less-padding{
  padding-left: 12px;
}

.raw-stat-block{
  padding-bottom: 4px;
}

.stat-icon{
  height: 24px;
  width: 24px;
  margin-right: 4px;
}


/*spells*/
.passive-block{
  padding-top: 12px;
  padding-bottom: 12px;
}

.ability-header{
  margin-left: 4px;
  font-size: 24px;

}
.override-display{
  display: block;
}

.ability-icon{
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-top: 2px;
}

.passive-icon{
  margin-right: 8px;
  margin-bottom: 8px;
  margin-top: 2px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
