/* You can add global styles to this file, and also import other style files */
body,
/*input,*/
/*select,*/
textarea {
    /*font-size: 1.05em;*/
    background-color: #08101a;
    /*color: #c3c3c3;*/
}

h2, h3 {
  color: #c3c3c3;
  font-size: 1em;
}

.base-white {
    color: #ffffff;
    font-weight: bold;
}

.base-black{
  color: #000000;
  font-weight: bold;
}

.ad-orange {
    color: #ff9900;
}

.ap-green {
    /* color: #99ff99; */
    color: #37BD37;
}

.armor-yellow {
    /* color: #ffff00; */
    color: #CBCB00;
}

.mr-purple {
    color: #ff00ff;
}

.hp-red {
    color: #cc3300;
}

.mana-blue {
    color: #44ddff;
}

/* http://stackoverflow.com/questions/16625972/change-color-of-bootstrap-navbar-on-hover-link */
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: transparent;
}

/*spinner*/
.loading-header{
  color: #c3c3c3;
}

.spinner-container{
  margin-top: 0em;
  height: 25em;
}

.spinner-title-container{
  position: absolute;
  top: calc(50% + 11em);
  width: 100%;
}

.spinner-title {
  font-size: 2em;
  text-align: center;
}

.spinner {
  box-sizing: border-box;
  border: solid .75em transparent;
  background: url(http://na.leagueoflegends.com/sites/default/files/styles/wide_medium/public/upload/awn53kv.jpg) 50%/cover padding-box;
}
.spinner, .spinner:before {
  position: absolute;
  margin: -10em;
  width: 20em;
  height: 20em;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}
.spinner:before {
  z-index: -1;
  background: conic-gradient(#ff9999, #ffcc99, #ffff99, #ccff99, #99ff99, #99ffcc, #99ffff, #99ccff, #9999ff, #cc99ff, #ff99ff, #ff99cc, #ff9999);
  animation: r 2s linear infinite;
  content: '';
}

@keyframes r {
  to {
    transform: rotate(1turn);
  }
}
