<div *ngIf="loading" class="spinner-container">
  <div class="spinner"></div>
  <h2>Loading...</h2>
</div>
<div *ngIf="!this.loading" class="row bottom-spacing" align="center">
  <div *ngFor="let rune of runes" class="col-lg-2 col-md-2 col-sm-3 col-4 bottom-spacing">
    <a [attr.href]="makeInfoURL(rune.id)"><h3>{{rune.sanitizedDescription}}</h3></a>
    <!-- TO DO: add image src [src]="makeIconImageURL()"-->
    <a [attr.href]="makeInfoURL(rune.id)"><img class="img-fluid" alt=""></a>
  </div>
</div>
