<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <img src="{{champIconPromise | async}}" class="icon-float-left img-thumbnail" alt="">
        <h1 class="card-title">{{champion?.name}}</h1>
        <h2 class="card-subtitle text-muted">{{champion?.title}}</h2>
        <ul class="nav nav-tabs card-header-tabs clear">
          <li class="nav-item">
            <a class="nav-link active" href="">Raw Stats*</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Abilities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="">Disabled</a>
          </li>
        </ul>
      </div>
      <div class="card-block" *ngIf="champion && displayBlock == 'rawStats'">
        <div class="row">
        <p class="col-6">HP : {{champion?.stats["base_hp"]}} (+{{champion?.stats["hpperlevel"]}} per level)</p>
        <p class="col-6">HP Regen : {{champion?.stats["hpregen"]}} (+{{champion?.stats["hpregenperlevel"]}} per level)</p>

        <p class="col-6">MP : {{champion?.stats["base_mp"]}} (+{{champion?.stats["mpperlevel"]}} per level)</p>
        <p class="col-6">MP Regen : {{champion?.stats["mpregen"]}} (+{{champion?.stats["mpregenperlevel"]}} per level)</p>

        <p class="col-6">AD : {{champion?.stats["base_ad"]}} (+{{champion?.stats["adperlevel"]}} per level)</p>
        <p class="col-6">Armor : {{champion?.stats["base_armor"]}} (+{{champion?.stats["armorperlevel"]}} per level)</p>

        <p class="col-6">AS : {{champion?.stats["base_as"]}} (+{{champion?.stats["asperlevel"]}}&#37; per level)</p>
        <p class="col-6">MR : {{champion?.stats["base_mr"]}} (+{{champion?.stats["mrperlevel"]}} per level)</p>

        <p class="col-6">Range : {{champion?.stats["aarange"]}}</p>
        <p class="col-6">Move Speed : {{champion?.stats["movespeed"]}}</p>

        <p>Champ Health at LV18: {{champion?.stats["hp"]}}</p>
        </div>
      </div>
      <div class="card-footer">
        Select Champion for Build | Select Champion for Target
      </div>
    </div>
  </div>
</div>
